<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="home">

{% include browser-upgrade.html %}

{% include nav_cleanblog.html %}

<div id="main" role="main">
  <!-- Hero Section -->
  <section
  class="hero-section"
  style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('{{ site.baseurl }}/images/homepage.jpg');"
>
  <div class="hero-content">
    <h1 class="hero-title">Humans and Autonomous Agents Lab</h1>
    <p class="hero-subtitle">Ensuring Safety in Human-Centric Multiagent Systems</p>
    <div class="hero-cta">
      <a href="#research-areas" class="button primary">Our Research Areas</a>
      <a href="/publications.html" class="button secondary">Recent Publications</a>
    </div>
  </div>
</section>


  <!-- Featured Content Section -->
  <section class="featured-section">
    <div class="grid-container">

      <div class="featured-card">
        <h2>Join Our Team</h2>
        <p>We're always looking for talented researchers to join our group.</p>
        <a href="/group.html" class="button">Opportunities</a>
      </div>
    </div>
  </section>

  <!-- News Section -->
  <section class="news-section">
    <div id="research-areas">
  <h2>Research Areas</h2>
</div>
    <div class="news-grid">
      <article class="news-card">
        <div class="news-content">

          <div class="news-title">
            <img class="news-clipart" src="{{ site.url }}/images/website/av.png" alt="Simulation Icon">
          <h3> Safety of Autonomous Vehicles and Agent-Based Systems</h3>
          </div>
          <p>As autonomous agents—such as self-driving vehicles and intelligent assistants—become more widespread, ensuring their safety and reliability in human-centered environments is critical. Our work explores novel approaches to verification and validation that explicitly account for human unpredictability, cognitive diversity, and interaction dynamics. We aim to develop methodological frameworks that address both technical correctness and behavioral safety.</p>
        </div>
        
      </article>

      <article class="news-card">
        <div class="news-content">
          <div class="news-title">
            <img class="news-clipart" src="{{ site.url }}/images/website/gt.png" alt="Simulation Icon">
          <h3>Game theory for Human-AI interaction</h3>
          </div>
          <p>We focus on human-AI interaction from a behavioural game theoretic lens. We study how to formally represent interactions between humans and autonomous agents, especially when human behavior deviates from classical models of full rationality. Drawing from behavioral and empirical game theory, we develop models of bounded rationality to better align automated decision-making with real-world human behavior. This line of work also examines the strategic implications and risks that arise when agents rely on incorrect or idealized models of human decision-making.</p>
        </div>
      </article>

      <article class="news-card">
        <div class="news-content">
          <div class="news-title">
            <img class="news-clipart" src="{{ site.url }}/images/website/gen_ai.png" alt="Simulation Icon">
          <h3>Cognitive architectures for Generative AI agents</h3>
          </div>
          <p>Design and development of generative AI based agents with a focus on cognitive architectures that support learning in open-world systems</p>
        </div>
      </article>

      <article class="news-card">
        <div class="news-content">
          <div class="news-title">
            <img class="news-clipart" src="{{ site.url }}/images/website/inst.png" alt="Simulation Icon">
          <h3>Social and Economic Modeling with AI-based simulation</h3>
          </div>
          <p>We leverage large language models and formal simulation frameworks to model human behavior at both micro and macro levels. This research develops tools to study social, economic, and institutional dynamics through AI-based simulations, thereby supporting the testing of hypotheses and the design of interventions in complex, societal-scale systems.</p>
        </div>
      </article>

      <article class="news-card">
        <div class="news-content">
          <div class="news-title">
            <img class="news-clipart" src="{{ site.url }}/images/website/norms.png" alt="Simulation Icon">
          <h3>Norms, Trust, and Values in Agent-based AI systems</h3>
          </div>
          <p>This line of research deals with reasoning, learning, and deliberation of norms within multiagent systems. The overarching goal is to look beyond preferences (stated or revealed) and move towards a more holistic sense of autonomy.</p>
        </div>
      </article>
      
      
    </div>
  </section>

{% comment %}
*
* Main content section
*
{% endcomment %}

<div class="row">
    {{ content }}
</div>

</div><!-- /#main -->

<div class="footer-wrapper">
    {% include footer.html %}
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
